body {
  background-color: black;
}

#bookmarks {
  text-align: center;
  font-family: monospace;
}

a#bookmark {
  text-decoration: none;
  display: block;
}

a#bookmark:link, a#bookmark:visited{
  color: grey;
}

a#bookmark:hover{
  font-style: italic;
}

form, input {
  text-align: center;
}

form {
  margin-top: 20px;
}

input {
  size: 2em;
  background-color: grey;
}
